<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Round Robin Algorithm</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Round Robin Scheduling</h1>
    <form method="post">
        {% csrf_token %}
        <label for="arrival_time">Arrival Times (comma separated):</label><br>
        <input type="text" id="arrival_time" name="arrival_time"><br><br>
        <label for="burst_time">Burst Times (comma separated):</label><br>
        <input type="text" id="burst_time" name="burst_time"><br><br>
        <label for="quantum_time">Quantum Time:</label><br>
        <input type="number" id="quantum_time" name="quantum_time" min="1"><br><br>
        <button type="submit">Calculate</button>
    </form>
    <a href="{% url 'index' %}">Back to Home</a>
</body>
</html>
